

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: auto;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

.log-in, .log-out, .register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

.button-delete {
    display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(254, 8, 4);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button-delete:hover {background-color: #d20404}

.button-delete:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-add {
    display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(0, 189, 6);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button-add:hover {background-color: #04a41c}

.button-add:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-complete {
    display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(18, 5, 255);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button-collapse:hover {background-color: #031dae}

.button-collapse:active {
  background-color: #02bef7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
 
}

.button-collapse {
    display: inline-block;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(18, 5, 255);
  border: none;
  /* border-radius: 5px; */
  box-shadow: 0 9px #999;
}

.button-collapse:hover {background-color: #031dae}

.button-collapse:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.jumbotron{
margin-top: 0px;
padding: 0-px;
height: 50%;
color: #990000;
background-color: rgb(204, 247, 255);
}

.card-flip {
  perspective: 1000px;
  &:hover .flip,
  &.hover .flip {
    transform: rotateY(180deg);
  }
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 480px;
}

.flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}